body {
    font-family: 'Butterfly Kids', cursive;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    background-color: #fffdd0;
}

.app {
    width: 80%;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    color: #C71585;
}

p {
    color: #C71585;
}

.child, .bakery {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
}
.nameBakery{
    font-weight: bold;
}
.copyright {
    text-align: center;
    margin-top: 10px;
    color: #C71585;
}
